.container{
    height: 100%;
}

.comp_box{
    display: flex;
    height: 96%;
}

.is_valid{
    position: absolute;
    border-radius: 9px;
    top: 10%;
    left: 55%;
    padding: .3em 1.5em;
    background-color: #db2e2e;
    color: #fff;
    z-index: 2;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}

@media only screen and (max-width: 526px){
    .app_name{
        width: 90%;
    }
    .comp_box{
        height: 100%;
    }
    .is_valid{
        left: 38%;
    }
}