*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  height: 100%;
}
body{
  height: 100%;
}

@media only screen and (max-width: 768px){
  html{
    font-size: 12px;
  }
}